/* || General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

main {
    width: 90%;
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 2rem;
    font-size: 0.8rem;
}

footer a {
    color: hsl(0, 0%, 100%);
}

footer a:hover {
    color: hsl(178, 100%, 50%);
}

/* || NFT Component */
.nft-component {
    max-width: 320px;
    display: grid;
    grid-template-rows: 1fr 0.6fr;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1rem;
    padding: 1.5rem;
}

.nft-image {
    border-radius: 0.5rem;
    position: relative;
    object-fit: cover;
    border-radius: 0.5rem;
    overflow: hidden;
    display: block;
}



.nft-image img {
    max-width: 100%;
    height: 100%;
}

.nft-image::before {
    content: url(images/icon-view.svg);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: hsl(178, 100%, 50%, 50%);
    opacity: 0;
    transition: opacity 0.5s;
}

.nft-image:hover::before {
    opacity: 1;
}

/* || NFT Description */
.nft-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nft-description>* {
    margin-top: 1rem;
}

.nft-description>h1>a {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
}

.nft-description>h1>a:hover {
    color: hsl(178, 100%, 50%);
}

.nft-description>p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.nft-description>section {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.eth-price {
    display: flex;
    align-items: center;
}

.eth-price p {
    margin-left: 0.5rem;
    color: hsl(178, 100%, 50%);
    font-size: 0.9rem;
}

.time-remaining {
    display: flex;
    align-items: center;
}

.time-remaining p {
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.nft-description hr {
    border: 1px solid hsl(215, 32%, 27%);
}

/* || NFT Attribution */
.nft-attribution {
    display: flex;
    align-items: center;
}

.nft-attribution img {
    max-width: 30px;
    object-fit: cover;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.nft-attribution figcaption {
    margin-left: 1rem;
    font-size: 0.9rem;
}

.nft-attribution figcaption a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: inherit;
}

.nft-attribution figcaption a:hover {
    color: hsl(178, 100%, 50%);
}